@media (max-width: 84em) {
  .hero-section {
    padding-top: 15rem;
  }
  .hero {
    max-width: 150rem;
  }
  .heading-praimary {
    font-size: 4.8rem;
  }
  .header {
    max-width: 150rem;

    gap: 2.4rem;
  }
}
@media (max-width: 77em) {
  .nav-container {
    padding-left: 0;
  }
  .features-section {
    padding: 6.4rem 4.8rem;
  }
}
@media (max-width: 75em) {
  .hero {
    max-width: 140rem;
  }
  .vedio-photo,
  .vedio-photo-two {
    width: 100%;
  }
  .characteristics-heading {
    padding: 0 25rem;
  }
  .video-icon {
    top: 30%;
    left: 55%;
  }
  .download-container {
    padding: 6.4rem 4.8rem 0 4.8rem;
  }
  .footer-section-two {
    padding: 4.8rem;
  }
}
@media (max-width: 72em) {
  .hero-section {
    padding-top: 20rem;
  }
  .hero-text-box {
    padding-top: 3.2rem;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero-section {
    padding-top: 30rem;
  }
  .theams-container {
    padding: 4.8rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3.2rem;
  }
  .nav-icon {
    width: 3rem;
    height: 3rem;
  }
  .list-contain {
    display: flex;
    align-items: center;
  }
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    /*hide navigation*/
    /* display: none; */
    opacity: 0;
    /*make it unaccessible to mouse and keyboard*/
    pointer-events: none;
    /*hide it from screen readers*/
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}
@media (max-width: 54em) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 38em) {
  html {
    font-size: 31.25%;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 43%;
  }
  .hero-section {
    max-width: 120rem;
    padding: 10rem 0 0 0;
  }
  .hero {
    grid-template-columns: 1fr;
    padding-top: 10rem;
  }
  .hero-img-box {
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: row;
  }
  .hero-img-box .hero-img {
    width: 40%;
  }
  .heading-praimary {
    font-size: 3.4rem;
    font-size: 5.2rem;
  }
  .hero-description {
    font-size: 2.4rem;
  }
  .mail-icon {
    left: 5%;
  }
  .input {
    width: 90%;
  }
  .input-icon {
    left: 83%;
  }
  .deliverd-images img {
    width: 6.4rem;
    height: 6.4rem;
  }
  .delivered-text {
    font-size: 1.8rem;
  }
  .delivered-text span {
    font-size: 3rem;
  }
  .features-section {
    padding: 6.4rem 6.4rem;
  }
  .features-container {
    flex-direction: column;
    margin-bottom: 2.4rem;
    align-items: center;
  }

  .heading-stats,
  .text-states {
    text-align: center;
  }
  .features-text {
    font-size: 1.9rem;
    margin-bottom: 2.4rem;
    color: #555;
    opacity: 85%;
  }
  .feature-btn {
    padding: 1.5rem 1.8rem;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .feature {
    align-items: center;
    padding: 3.2rem 6.4rem;
  }
  .features-heading {
    font-size: 4.8rem;
  }
  .feature-head {
    font-size: 2.4rem;
  }
  .feature-text {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }
  .feature blockquote {
    font-size: 1.6rem;
  }
  .marketing-section {
    padding: 4.8rem 6.4rem;
  }
  .marketing-box-img .marketing-img {
    display: none;
  }
  .marketing-container {
    padding: 0 2.5rem 0rem 2.5rem;
  }
  .marketing-box-text-first {
    text-align: center;
  }
  .marketing-box-text {
    padding-top: 0;
  }
  .marketing-heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
  }
  .two-marketing-features {
    flex-direction: column;
  }
  .icon-feature {
    width: 3.5rem;
    height: 3.5rem;
  }
  .marketing-feature-heading {
    font-size: 2.5rem;
  }
  .marketing-feature-text {
    font-size: 1.8rem;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .marketing-large-text {
    font-size: 2.2rem;
    text-align: center;
  }
  .characteristics-section {
    padding: 3.2rem 0;
  }
  .characteristics-container {
    padding: 9.6rem 4.8rem 9.6rem 5rem;
  }
  .theams-container {
    flex-direction: column;
    gap: 6.4rem;
  }
  .characteristics-heading {
    padding: 0 15rem;
    margin-bottom: 3.2rem;
  }
  .characteristics-text {
    margin-bottom: 2.4rem;
  }

  .theme-img-box .theme-img {
    width: 80%;
  }
  .theme-text {
    padding: 2.4rem 10rem 3.2rem 6rem;
    width: 105%;
  }
  .characteristics-heading,
  .characteristics-text {
    text-align: center;
  }
  .theme-text-box {
    gap: 1.8rem;
  }
  .theme-text-heading {
    font-size: 2rem;
  }
  .statistics-section {
    padding: 6.4rem 6.4rem 3.2rem 6.4rem;
  }
  .statistics-container {
    padding-top: 9.6rem;
    grid-template-columns: 1fr;
  }
  .statistics-feature {
    padding: 6.4rem;
  }
  .statistics-icon {
    width: 6.4rem;
    height: 6.4rem;
  }
  .statistics-number span {
    font-size: 4.5rem;
  }
  .statistics-number {
    font-size: 4.1rem;
  }
  .statistics-text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #555;
    opacity: 90%;
  }
  .container--2 {
    margin-bottom: 9rem;
  }
  .fig-container {
    flex-direction: column;
  }
  .vedio-photo {
    width: 100%;
  }
  .vedio-photo-two {
    width: 100%;
  }
  .vedio-container {
    top: 10%;
    left: 42%;
  }
  .first-text-container {
    padding-left: 0;
  }
  .first-text-heading {
    font-size: 3.2rem;
  }
  .first-text-text {
    font-size: 2rem;
  }
  .two--btns {
    display: none;
  }
  .container--4 {
    padding: 20rem 6.4rem;
  }
  .download-heading {
    font-size: 4.5rem;
    line-height: 1.3;
  }
  .download-btns {
    margin-bottom: 0;
  }
  .download-small-text {
    font-size: 1.8rem;
  }
  .download-big-text {
    font-size: 2rem;
  }
  .download-text-1 {
    font-size: 1.6rem;
  }
  .download-text-2 {
    font-size: 1.6rem;
  }
  .download-system-1 {
    font-size: 2.2rem;
  }
  .download-system-2 {
    font-size: 2.2rem;
  }
  .download-icon-1 {
    width: 4rem;
    height: 4rem;
  }
  .download-icon-2 {
    width: 4rem;
    height: 4rem;
  }
  .pricing-section {
    padding: 9.6rem 6.4rem 0 6.4rem;
  }
  .pricing-container {
    padding-top: 0;
  }
  .pricing-card-container {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }
  .pricing-heading {
    font-size: 4.8rem;
  }
  .pricing-text {
    font-size: 2rem;
  }
  .date {
    padding: 0.5rem;
  }
  .date-type {
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
  }
  .card-container {
    width: 100%;
    padding: 4.8rem 4.8rem 0 4.8rem;
  }
  .card-two::after {
    font-size: 1.8rem;
    padding: 1rem 3rem;
  }
  .cta-btn-container {
    margin-bottom: 4.8rem;
  }
  .pricing-text-box {
    margin-bottom: 3.2rem;
  }
  .pricing-text-1 {
    font-size: 2.4rem;
  }
  .pricing-text-2 {
    font-size: 1.8rem;
  }
  .cards-list {
    margin-top: 6.4rem;
    gap: 2rem;
  }
  .pricing-text-3 {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }
  .card-list {
    font-size: 2rem;
    opacity: 90%;
  }
  .card-icon {
    width: 3rem;
    height: 3rem;
  }
  .cta-btn-container {
    padding: 1.8rem 3.2rem;
  }
  .cta-btn:link,
  .cta-btn:visited {
    font-size: 2.2rem;
    opacity: 90%;
  }
  .testimonial-full {
    flex-direction: column;
    gap: 3.2rem;
  }
  .review-btn,
  .review-second-btn {
    display: none;
  }
  .testimonial-section {
    padding: 13rem 6.4rem;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
  .testimonial-pharagraph {
    font-size: 2.1rem;
    text-align: center;
    font-weight: 400;
    opacity: 80%;
  }
  .rate-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .rate-text {
    font-size: 1.6rem;
  }
  .reviewer-box {
    justify-content: center;
  }
  .reviewer-name {
    font-size: 2.4rem;
  }
  .reviewer-job {
    padding-left: 1.4rem;
    font-size: 1.6rem;
  }
  .heading-platform {
    font-size: 5.6rem;
    line-height: 1.3;
  }
  .platform-text {
    font-size: 2.4rem;
  }
  .platform-icon {
    padding: 4.8rem;
  }
  .platform-text-box {
    margin-top: 6.4rem;
  }
  .platforms {
    margin-top: 8rem;
    padding: 0 8rem;
    margin-bottom: 6.4rem;
  }
  .row-one {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5.3rem;
  }
  .row-two {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3.2rem;
    gap: 5.5rem;
  }
  .footer-container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3.2rem;
    padding-bottom: 9.6rem;
  }
  .footer {
    padding: 7rem 2rem;
  }
  .heading-line {
    font-size: 3rem;
  }
  .list-items {
    text-align: center;
  }
  .list-line {
    font-size: 2rem;
    gap: 1.2rem;
  }
  .list-footer-one,
  .list-footer-two,
  .list-footer-three,
  .list-footer-four {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
  }
  .list-text-1 {
    font-size: 2rem;
    margin-bottom: 2.4rem;
  }
  .list-text-2 {
    font-size: 2rem;
    margin-bottom: 3.6rem;
  }
  .footer-icons {
    margin-bottom: 3.2rem;
    gap: 1.5rem;
  }
  .footer-section-two {
    flex-direction: column;
    gap: 3.2rem;
  }
  .btn-footer:link,
  .btn-footer:visited {
    font-size: 2rem;
    padding: 1.5rem 2rem;
  }
  .copyright {
    font-size: 2rem;
  }
  .list-line-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
  }
}
@media (max-width: 26em) {
  .vedio-container {
    top: 6%;
  }
  .btn:link,
  .btn:visited {
    padding: 1rem;
  }
  .logo-photo {
    height: 2.5rem;
    width: 9rem;
  }
}
